:root {
  --background-color-white: #fff;
  --background-color-dark-blue: #2f303a;
  --background-color-light-grey: #f5f4fa;
  --background-color-blue: #2196f3;
  --background-color-grey: #afb1b8;
  --background-color-icon-black: rgba(255, 255, 255, 0.1);
  --background-color-dimnest: rgba(47, 48, 58, 0.8);
  --color-white: #fff;
  --color-grey: #afb1b8;
  --color-dark: #212121;
  --color-black: #000000;
  --color-blue: #2196f3;
  --color-blue: hsla(207, 90%, 54%, 1);
  --color-dark-grey: #757575;
  --color-light-grey: rgba(255, 255, 255, 0.6);
  --color-border: #ececec;
  --vw-browser: 100vw;
  --vw-body: 1600px;
  --t-duration: 250ms;
  --t-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  /*  DO HOLOGRAMOWEGO TŁA
  --space: 5%;
    --angle: 133deg;
    --mx: 50%;
    --my: 50%;
    --imgsize: 50% 42%;
        --pos: 50% 50%;
    --posx: 50%;
    --posy: 50%;
    --hyp: 0; */
}
body {
  margin: 0 0 0 0;
  padding: 0;
  font-family: "Roboto";
  /* font-size: 14px; */
  font-size: calc((var(--vw-browser) / 100) * 0.87);
  letter-spacing: 0.03em;
  color: var(--color-dark);
  /* background-color: var(--background-color-dark-blue); */
  border: 0;
  line-height: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  font-size: 100%;
  list-style-type: none;
}

.container {
  /* width:1200px; */
  width: calc((var(--vw-browser) / 100) * 75);
  /* margin-inline: 215px; */
  margin-inline: calc((var(--vw-browser) / 100) * 13.43);
  /* background: linear-gradient(
    45deg,
    rgba(247, 217, 159) 5%,
    rgba(0, 212, 255, 0) 5%,
    rgba(0, 212, 255, 0) 10%,
    rgba(247, 217, 159) 10%,
    rgba(247, 217, 159) 15%,
    rgba(0, 212, 255, 0) 15%,
    rgba(0, 212, 255, 0) 20%,
    rgba(247, 217, 159) 20%,
    rgba(247, 217, 159) 25%,
    rgba(0, 212, 255, 0) 25%,
    rgba(0, 212, 255, 0) 30%,
    rgba(247, 217, 159) 30%,
    rgba(247, 217, 159) 35%,
    rgba(0, 212, 255, 0) 35%,
    rgba(0, 212, 255, 0) 40%,
    rgba(247, 217, 159) 40%,
    rgba(247, 217, 159) 45%,
    rgba(0, 212, 255, 0) 45%,
    rgba(0, 212, 255, 0) 50%,
    rgba(247, 217, 159) 50%,
    rgba(247, 217, 159) 55%,
    rgba(0, 212, 255, 0) 55%,
    rgba(0, 212, 255, 0) 60%,
    rgba(247, 217, 159) 60%,
    rgba(247, 217, 159) 65%,
    rgba(0, 212, 255, 0) 65%,
    rgba(0, 212, 255, 0) 70%,
    rgba(247, 217, 159) 70%,
    rgba(247, 217, 159) 75%,
    rgba(0, 212, 255, 0) 75%,
    rgba(0, 212, 255, 0) 80%,
    rgba(247, 217, 159) 80%,
    rgba(247, 217, 159) 85%,
    rgba(0, 212, 255, 0) 85%,
    rgba(0, 212, 255, 0) 90%,
    rgba(247, 217, 159) 90%,
    rgba(247, 217, 159) 100%
  ); */
  /* background-color:darksalmon; */
}
.section {
  /* padding-block: 94px; */
  padding-block: calc((var(--vw-browser) / 100) * 5.87);
  /* background: linear-gradient(-45deg, rgba(247,159,186,1) 5%,  rgba(0,212,255,0) 5%, 
 rgba(0,212,255,0) 10%, rgba(247,159,186,1) 10%, rgba(247,159,186,1) 15%,  rgba(0,212,255,0) 15%, rgba(0,212,255,0) 20%,
  rgba(247,159,186,1) 20%,  rgba(247,159,186,1) 25%,  rgba(0,212,255,0) 25%,  rgba(0,212,255,0) 30%,  rgba(247,159,186,1) 30%, rgba(247,159,186,1) 35%, 
   rgba(0,212,255,0) 35%, rgba(0,212,255,0) 40%,
  rgba(247,159,186,1) 40%,  rgba(247,159,186,1) 45%,  rgba(0,212,255,0) 45%,  rgba(0,212,255,0) 50%,
   rgba(247,159,186,1) 50%, rgba(247,159,186,1) 55%,  rgba(0,212,255,0) 55%, rgba(0,212,255,0) 60%,
  rgba(247,159,186,1) 60%,  rgba(247,159,186,1) 65%,  rgba(0,212,255,0) 65%,  rgba(0,212,255,0) 70%,
   rgba(247,159,186,1) 70%, rgba(247,159,186,1) 75%,  rgba(0,212,255,0) 75%, rgba(0,212,255,0) 80%,
  rgba(247,159,186,1) 80%,  rgba(247,159,186,1) 85%,  rgba(0,212,255,0) 85%,  rgba(0,212,255,0) 90%, 
   rgba(247,159,186,1) 90%, rgba(247,159,186,1) 100%); */
  /* background-color: rgb(247, 159, 186, 1); */
}
.section-buttons {
  padding: 0.375vw 1.37vw;
}

/* LOGO */

.header {
  /* width: 100vw; */
  width: var(--vw-browser);
  border-bottom: 1px solid var(--color-border);
}
.menu-index {
  display: flex;
  /* justify-content:space-between; */
  align-items: center;
  /* gap:0; */
}
.logo {
  /* padding-top-bottom:24px; */
  padding-top: calc((var(--vw-browser) / 100) * 1.5);
  padding-bottom: calc((var(--vw-browser) / 100) * 1.5);
  /* padding-left:21px; */
  padding-left: calc((var(--vw-browser) / 100) * 1.31);
  font-family: "Raleway";
  font-weight: 700;
  /* font-size: 26px; */
  font-size: 1.62vw;
  /* font-size: min(1.62vw, 26px); */
  /* line-height: 31px; */
  line-height: 1.93vw;
  color: var(--color-blue);
  text-decoration: none;
}
.logo-black {
  color: var(--color-black);
  /* margin-right: 93px; */
  margin-right: calc((var(--vw-browser) / 100) * 5.81);
}
.logo-white {
  color: var(--color-white);
}

/* NAV */

.nav-margin {
  /* width:254px; */
  width: calc((var(--vw-browser) / 100) * 15.87);
  /* margin-right: 345px; */
  margin-right: calc((var(--vw-browser) / 100) * 21.56);
  /* font-size: 14px; */
}
.list-nav-index {
  display: flex;
  /* justify-content: space-between;
   align-items: center; */
  /* flex-grow: 1; */
  padding: 0;
  /* gap:50px; */
  gap: calc((var(--vw-browser) / 100) * 3.12);
}
.list-adr-index {
  display: flex;
  /* justify-content: space-between; */
  /* flex-grow: 1; */
  padding: 0;
  /* gap:30px; */
  gap: calc((var(--vw-browser) / 100) * 1.87);
}

/* MAIL */

.menu-margin {
  /* padding-right:21px; */
  padding-right: calc((var(--vw-browser) / 100) * 1.31);
  justify-content: left;
  /* width:342px; */
  width: calc((var(--vw-browser) / 100) * 21.37);
}
.links-menu {
  font-weight: 500;
  /* font-size: 14px; */
  font-size: calc((var(--vw-browser) / 100) * 0.87);
  /* font-size: min(0.87vw, 14px); */
  /* line-height: 16px; */
  line-height: calc((var(--vw-browser) / 100) * 1);
  letter-spacing: 0.02em;
  text-decoration: none;
  /* align-items: center; */
}
/* .link-menu.dark{
  align-items: center;
}
.link-menu.blue{
  align-items: center;
} */
.mail-menu {
  /* width: 161px; */
  width: calc((var(--vw-browser) / 100) * 10.06);
  display: flex;
  /* align-items: center; */
  justify-content: left;
}
.tel-menu {
  /* width: 130px; */
  width: calc((var(--vw-browser) / 100) * 8.12);
  display: flex;
  /* align-items: center; */
  justify-content: left;
}
.dark {
  color: inherit;
  transition-property: fill, color;
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
}
.blue {
  color: var(--color-blue);
}
.dark-grey {
  color: var(--color-dark-grey);
  fill: var(--color-dark-grey);
  transition-property: fill, color;
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
}
.white {
  color: var(--color-white);
}
.light-grey {
  color: var(--color-light-grey);
  transition-property: fill, color;
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
}
.dark:hover,
.dark-grey:hover,
.light-grey:hover,
.dark:focus,
.dark-grey:focus,
.light-grey:focus {
  color: var(--color-blue);
  fill: var(--color-blue);
}
.links-menu.blue {
  /* display: block; */
  position: relative;
  /* height: 46px; */
}

.links-menu.blue::after {
  z-index: 3;
  display: block;
  content: "";
  position: absolute;
  width: calc((var(--vw-browser) / 100) * 3.31);
  height: calc((var(--vw-browser) / 100) * 0.25);
  /* top: 32px; */
  top: calc((var(--vw-browser) / 100) * 2.81);
  left: 0px;
  background: var(--background-color-blue);
  border-radius: 2px;
}
svg.envelope {
  /* width:16px; */
  width: calc((var(--vw-browser) / 100) * 1);
  /* height:12px; */
  height: calc((var(--vw-browser) / 100) * 0.75);
  /* margin-right:10px; */
  margin-right: calc((var(--vw-browser) / 100) * 0.62);
  top: 10px;
}
svg.smartphone {
  /* width:10px; */
  width: calc((var(--vw-browser) / 100) * 0.62);
  /* height:16px; */
  height: calc((var(--vw-browser) / 100) * 1);
  /* margin-right:10px; */
  margin-right: calc((var(--vw-browser) / 100) * 0.62);
}

/* --------HEADER & BUTTON----------*/

.header-index {
  width: 100%;
  /* margin: 0 auto; */
  /* padding-block: 200px; */
  padding-block: calc((var(--vw-browser) / 100) * 12.5);
  /* max-width: 1600px; */
  /* height: 600px; */
  height: calc((var(--vw-browser) / 100) * 37.5);
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/photo-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-text-index {
  max-width: calc((var(--vw-browser) / 100) * 43.5);
  margin: 0 auto;
  font-weight: 900;
  /* font-size: 44px; */
  font-size: calc((var(--vw-browser) / 100) * 2.75);
  /* font-size: min(2.75vw, 44px); */
  /* line-height: 60px; */
  line-height: calc((var(--vw-browser) / 100) * 3.75);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color-white);
  text-align: center;
}
.button-index {
  display: block;
  /* margin-top: 30px; */
  margin-top: calc((var(--vw-browser) / 100) * 1.87);
  margin-inline: auto;
  /* padding-block:10px; */
  /* padding-inline: 41px; */
  padding-block: calc((var(--vw-browser) / 100) * 0.62);
  padding-inline: calc((var(--vw-browser) / 100) * 2.56);
  font-family: inherit;
  font-weight: 700;
  /* font-size: min(1vw, 44px); */
  /* font-size: 16px; */
  font-size: calc((var(--vw-browser) / 100) * 1);
  /* line-height: 30px; */
  line-height: calc((var(--vw-browser) / 100) * 1.87);
  letter-spacing: 0.06em;
  color: var(--color-white);
  background: var(--color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
}

/*---------OUR STRENGTHS----------  */

.icon-box {
  /* margin-bottom: 30px; */
  margin-bottom: calc((var(--vw-browser) / 100) * 1.87);
  /* padding: 25px 100px; */
  padding-block: calc((var(--vw-browser) / 100) * 1.56);
  padding-inline: calc((var(--vw-browser) / 100) * 6.25);
  background-color: var(--background-color-light-grey);
}
.list-lorem-index {
  display: flex;
  justify-content: space-around;
}
.icon-our-strengths {
  /* width: 70px; */
  width: calc((var(--vw-browser) / 100) * 4.37);
  /* height: 70px; */
  height: calc((var(--vw-browser) / 100) * 4.37);
}
.box-lorem-index {
  /* margin-inline: 15px; */
  margin-inline: calc((var(--vw-browser) / 100) * 0.93);
}
.lorem-text-index {
  /* font-size: 14px; */
  font-size: calc((var(--vw-browser) / 100) * 0.87);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.box-lorem-index-left {
  /* margin-right: 15px; */
  margin-right: calc((var(--vw-browser) / 100) * 0.93);
  /* padding-left: 15px; */
  padding-left: calc((var(--vw-browser) / 100) * 0.93);
}
.box-lorem-index-right {
  /* margin-left: 15px; */
  margin-left: calc((var(--vw-browser) / 100) * 0.93);
  /* padding-right: 15px; */
  padding-right: calc((var(--vw-browser) / 100) * 0.93);
}
.description-lorem-index {
  /* margin-top: 10px; */
  /* font-size: 14px; */
  font-size: calc((var(--vw-browser) / 100) * 0.87);
  margin-top: calc((var(--vw-browser) / 100) * 0.62);
  /* line-height: 24px; */
  line-height: calc((var(--vw-browser) / 100) * 1.5);
  color: var(--color-dark-grey);
}

/* ----------WHAT DO WE DO---------- */

.header-what-do-we-do-index {
  font-weight: 700;
  /* font-size: 36px; */
  font-size: calc((var(--vw-browser) / 100) * 2.25);
  /* line-height: 42px; */
  line-height: calc((var(--vw-browser) / 100) * 2.62);
  letter-spacing: 0.03em;
  text-align: center;
}
.image-list-index {
  /* margin-top: 50px; */
  margin-top: calc((var(--vw-browser) / 100) * 3.12);
  display: flex;
  /* gap: 30px; */
  gap: calc((var(--vw-browser) / 100) * 1.87);
  /* padding-inline:15px; */
  padding-inline: calc((var(--vw-browser) / 100) * 0.93);
  padding-bottom: 94px;
  padding-bottom: calc((var(--vw-browser) / 100) * 5.87);
}
.image-what-do-we-do {
  /* width: 370px; */
  width: calc((var(--vw-browser) / 100) * 23.12);
}
.what-do-we-do-list {
  /* height: 294px; */
  height: calc((var(--vw-browser) / 100) * 18.37);
}
.what-do-we-do-image {
  position: relative;
  display: block;
}
.dimnest {
  position: absolute;
  display: flex;
  /* top:0px;
  left:0px; */
  /* width: 370px; */
  width: calc((var(--vw-browser) / 100) * 23.12);
  /* height: 70px; */
  height: calc((var(--vw-browser) / 100) * 4.37);
  background: var(--background-color-dimnest);
  bottom: 0;
  font-weight: 700;
  /* line-height: 16px; */
  line-height: calc((var(--vw-browser) / 100) * 1);
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: var(--color-white);
}

/* -----------OUR TEAM -------------*/

.our-team-index {
  text-align: center;
  background-color: var(--background-color-light-grey);
}
.header-our-team-index {
  font-weight: 700;
  /* font-size: 36px; */
  font-size: calc((var(--vw-browser) / 100) * 2.25);
  /* line-height: 42px; */
  line-height: calc((var(--vw-browser) / 100) * 2.62);
}
.list-team-index {
  /* padding-left: 15px; */
  padding-left: calc((var(--vw-browser) / 100) * 0.93);
  /* margin-top: 50px; */
  margin-top: calc((var(--vw-browser) / 100) * 3.12);
  display: flex;
  /* font-size: 16px; */
  font-size: calc((var(--vw-browser) / 100) * 1);
  /* line-height: 19px; */
  line-height: calc((var(--vw-browser) / 100) * 1.18);
  /* gap: 30px; */
  gap: calc((var(--vw-browser) / 100) * 1.87);
}
.image-team-index {
  margin: 0 0 0 0;
  background-color: var(--background-color-white);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 0px 0px 4px 4px;
}
.our-team-photo {
  /* width: 270px; */
  width: calc((var(--vw-browser) / 100) * 16.87);
  height: calc((var(--vw-browser) / 100) * 16.87);
}
.description-margin {
  /* margin-top: 30px; */
  margin-top: calc((var(--vw-browser) / 100) * 1.87);
}
.our-team-description {
  font-weight: 500;
}
.our-team-text {
  /* margin-top: 10px; */
  margin-top: calc((var(--vw-browser) / 100) * 0.62);
  /* padding-bottom: 30px; */
  padding-bottom: calc((var(--vw-browser) / 100) * 1.87);
  color: var(--color-dark-grey);
}
.icons-list {
  /* padding-inline: 32px; */
  padding-inline: calc((var(--vw-browser) / 100) * 2);
  /* padding-top: 16px; */
  padding-top: calc((var(--vw-browser) / 100) * 1);
  /* padding-bottom: 30px; */
  padding-bottom: calc((var(--vw-browser) / 100) * 1.87);
  display: flex;
  justify-content: space-between;
}

/* -------------  ICONS   OUR TEAM ---------- */

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 44px; */
  width: calc((var(--vw-browser) / 100) * 2.75);
  /* height: 44px; */
  height: calc((var(--vw-browser) / 100) * 2.75);
  background-color: var(--background-color-white);
  border-radius: 50%;
  fill: var(--background-color-grey);
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
  transition-property: fill, background-color;
}
.social-icon {
  /* width: 20px; */
  width: calc((var(--vw-browser) / 100) * 1.25);
  /* height: 20px; */
  height: calc((var(--vw-browser) / 100) * 1.25);
}
.social-links:hover,
.social-links:focus {
  background-color: var(--background-color-blue);
  fill: var(--background-color-white);
}

/* ----------OUR CLIENTS-------------- */

.our-clients {
  /* padding-inline: 15px; */
  padding-inline: calc((var(--vw-browser) / 100) * 0.93);
  font-weight: 700;
  /* font-size: 36px; */
  font-size: calc((var(--vw-browser) / 100) * 2.25);
  /* line-height: 42px; */
  line-height: calc((var(--vw-browser) / 100) * 2.62);
  text-align: center;
}
.list-icons-our-clients {
  /* margin-top: 50px; */
  margin-top: calc((var(--vw-browser) / 100) * 3.12);
  display: flex;
  /* justify-content: space-between; */
  /* gap: 30px; */
  gap: calc((var(--vw-browser) / 100) * 1.87);
}

/* ------------ ICONS OUR CLIENTS  ----------- */

.icon-size {
  /* width: 106px; */
  width: calc((var(--vw-browser) / 100) * 6.62);
  /* height: 60px; */
  height: calc((var(--vw-browser) / 100) * 3.75);
}
.icon-our-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 170px; */
  width: calc((var(--vw-browser) / 100) * 10.62);
  /* height: 92px; */
  height: calc((var(--vw-browser) / 100) * 5.75);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--background-color-white);
  border: 1px solid var(--color-grey);
  fill: var(--background-color-grey);
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
  transition-property: fill, border;
}
.icon-our-clients:hover,
.icon-our-clients:focus {
  border: 1px solid var(--color-blue);
  fill: var(--color-blue);
}

/* ----------FOOTER -----------*/

.footer-index,
.footer-portfolio {
  /* padding-block: 60px; */
  padding-block: calc((var(--vw-browser) / 100) * 3.75);
  font-style: inherit;
  background-color: var(--background-color-dark-blue);
}
.footer-wraper {
  display: flex;
  align-items: baseline;
}
.logo-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  /* font-size: 26px; */
  font-size: calc((var(--vw-browser) / 100) * 1.62);
  /* line-height: 31px; */
  line-height: calc((var(--vw-browser) / 100) * 1.93);
  color: var(--color-blue);
  text-decoration: none;
}
.list-footer {
  /* margin-top: 20px; */
  margin-top: calc((var(--vw-browser) / 100) * 1.25);
}
.adress-footer,
.links-footer {
  font-style: normal;
  /* line-height: 24px; */
  line-height: calc((var(--vw-browser) / 100) * 1.5);
  text-decoration: none;
}
.footer-margin {
  /* margin-top: 9px; */
  margin-top: calc((var(--vw-browser) / 100) * 0.56);
}
.second-footer {
  /* margin-left: 70px; */
  margin-left: calc((var(--vw-browser) / 100) * 4.37);
}
.join-us {
  /* margin-bottom: 20px; */
  margin-bottom: calc((var(--vw-browser) / 100) * 1.25);
  font-weight: 700;
  /* line-height: 16px; */
  line-height: calc((var(--vw-browser) / 100) * 1);
  text-transform: uppercase;
  color: var(--color-white);
}

/* ----------  ICONS  JOIN US  ---------- */

.social-list-black {
  display: flex;
  justify-content: space-between;
  /* width: 206px; */
  width: calc((var(--vw-browser) / 100) * 12.87);
}
.social-links-black {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 44px; */
  width: calc((var(--vw-browser) / 100) * 2.75);
  /* height: 44px; */
  height: calc((var(--vw-browser) / 100) * 2.75);
  background-color: var(--background-color-icon-black);
  border-radius: 50%;
  fill: var(--background-color-white);
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
  transition-property: background-color;
}
.social-links-black:hover,
.social-links-black:focus {
  background-color: var(--background-color-blue);
}

/* ----------  SUBSCRIBE TO THE NEWSLETTER  ---------- */

.third-footer {
  margin-left: auto;
}
.subscribe {
  /* margin-bottom: 20px; */
  margin-bottom: calc((var(--vw-browser) / 100) * 1.25);
  display: block;
  font-weight: 700;
  /* line-height: 16px; */
  line-height: calc((var(--vw-browser) / 100) * 1);
  text-transform: uppercase;
  color: var(--color-white);
}
.signup-form {
  /* margin-top: 20px; */
  margin-top: calc((var(--vw-browser) / 100) * 1.25);
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: 570px; */
  width: calc((var(--vw-browser) / 100) * 35.62);
}
.sign-up-input {
  /* padding-left: 15px; */
  padding-left: calc((var(--vw-browser) / 100) * 0.93);
  /* width: 358px; */
  width: calc((var(--vw-browser) / 100) * 22.37);
  /* height: 50px; */
  height: calc((var(--vw-browser) / 100) * 3.12);
  color: var(--color-white);
  background-color: var(--background-color-dark-blue);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
  transition-property: border-color;
}
.sign-up-input:hover {
  border-color: var(--color-blue);
}
.sign-up-input:focus-within {
  border: 3px solid var(--color-blue);
  outline: none;
}
.sign-up-button {
  /* padding-top: 3px; */
  padding-top: calc((var(--vw-browser) / 100) * 0.18);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* width: 200px; */
  width: calc((var(--vw-browser) / 100) * 12.5);
  /* height: 50px; */
  height: calc((var(--vw-browser) / 100) * 3.12);
  font-weight: 700;
  /* font-size: 16px; */
  font-size: calc((var(--vw-browser) / 100) * 1);
  /* line-height: 30px; */
  line-height: calc((var(--vw-browser) / 100) * 1.87);
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-white);
  background: var(--background-color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}
.icon-sign-in {
  /* width:24px; */
  width: calc((var(--vw-browser) / 100) * 1.5);
  /* height:24px; */
  height: calc((var(--vw-browser) / 100) * 1.5);
}

/*--------- MODAL WINDOW ------------*/

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  left: 0px;
  top: 0px;
  transition-property: opacity, transform, visibility;
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: rotate(180deg);
}
.modal {
  /* padding: 40px; */
  padding: calc((var(--vw-browser) / 100) * 2.5);
  /* width: 528px; */
  width: calc((var(--vw-browser) / 100) * 33);
  /* height: 581px; */
  height: calc((var(--vw-browser) / 100) * 36.31);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: var(--background-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/*--------- MODAL INPUTS ------------*/

.modal-header {
  /* margin-bottom: 12px; */
  margin-bottom: calc((var(--vw-browser) / 100) * 0.75);
  display: block;
  /* background-color: coral; */
  font-weight: 700;
  /* font-size: 20px; */
  font-size: calc((var(--vw-browser) / 100) * 1.25);
  /* line-height: 23px; */
  line-height: calc((var(--vw-browser) / 100) * 1.43);
  text-align: center;
  color: var(--color-dark);
}
.modal-label {
  /* margin-bottom: 4px; */
  margin-bottom: calc((var(--vw-browser) / 100) * 0.25);
  display: block;
  font-weight: 400;
  /* font-size: 12px; */
  font-size: calc((var(--vw-browser) / 100) * 0.75);
  /* line-height: 14px; */
  line-height: calc((var(--vw-browser) / 100) * 0.87);
  letter-spacing: 0.01em;
  color: var(--color-dark-grey);
  resize: none;
}
.modal-input-group {
  position: relative;
  /* margin-bottom: 10px; */
  margin-bottom: calc((var(--vw-browser) / 100) * 0.62);
  transition-property: fill;
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
}
.modal-input-group-comment {
  position: relative;
}
.modal-input-group:hover,
.modal-input-group:focus,
.modal-input-group-comment:hover,
.modal-input-group-comment:focus {
  fill: var(--color-blue);
  border-color: var(--color-blue);
}
.modal-input-group:focus-within,
.modal-input-group-comment:focus-within {
  fill: var(--color-blue);
}
.modal-input-icon {
  position: absolute;
  /* top: 15px; */
  top: calc((var(--vw-browser) / 100) * 0.93);
  /* left: 15px; */
  left: calc((var(--vw-browser) / 100) * 0.93);
}
.modal-input-icon.human {
  /* width: 12px; */
  width: calc((var(--vw-browser) / 100) * 0.75);
  /* height: 12px; */
  height: calc((var(--vw-browser) / 100) * 0.75);
}
.modal-input-icon.earphone {
  /* width: 13px; */
  width: calc((var(--vw-browser) / 100) * 0.81);
  /* height: 13px; */
  height: calc((var(--vw-browser) / 100) * 0.81);
}
.modal-input-icon.envelope-II {
  /* width: 15px; */
  width: calc((var(--vw-browser) / 100) * 0.93);
  /* height: 12px; */
  height: calc((var(--vw-browser) / 100) * 0.75);
}
.checkbox-icon.icon-uncheck {
  /* width: 16px; */
  width: calc((var(--vw-browser) / 100) * 1);
  /* height: 15px; */
  height: calc((var(--vw-browser) / 100) * 0.93);
}
.input-contact-details {
  display: flex;
  justify-content: center;
  /* width: 448px; */
  width: calc((var(--vw-browser) / 100) * 28);
  /* height: 120px; */
  height: calc((var(--vw-browser) / 100) * 7.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline-color: var(--color-blue);
  transition-property: border-color;
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
}
.input-contact-details:hover {
  border-color: var(--color-blue);
}
.input-contact-details.forty {
  /* padding-left: 42px; */
  padding-left: calc((var(--vw-browser) / 100) * 2.62);
  /* height: 40px; */
  height: calc((var(--vw-browser) / 100) * 2.5);
}
textarea[id="comment"].input-contact-details::-webkit-input-placeholder {
  font-weight: 400;
  /* font-size: 12px; */
  font-size: calc((var(--vw-browser) / 100) * 0.75);
  /* line-height: 14px; */
  line-height: calc((var(--vw-browser) / 100) * 0.87);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.input-contact-details.comment {
  margin-bottom: 0px;
  /* padding-top: 12px; */
  padding-top: calc((var(--vw-browser) / 100) * 0.75);
  /* padding-left: 16px; */
  padding-left: calc((var(--vw-browser) / 100) * 1);
}
.modal-statement {
  /* margin-top: 20px; */
  margin-top: calc((var(--vw-browser) / 100) * 1.25);
  /* margin-bottom: 30px; */
  margin-bottom: calc((var(--vw-browser) / 100) * 1.87);
  /* padding-left: 8px; */
  padding-left: calc((var(--vw-browser) / 100) * 0.5);
  position: relative;
  /* background-color:aquamarine; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 400;
  /* line-height: 24px; */
  line-height: calc((var(--vw-browser) / 100) * 1.5);
  color: var(--color-dark-grey);
}
.regulations-policy {
  color: var(--color-blue);
}
.square {
  position: absolute;
  z-index: 4;
  /* top: 4px; */
  top: calc((var(--vw-browser) / 100) * 0.25);
  /* left: 4px; */
  left: calc((var(--vw-browser) / 100) * 0.25);
  /* width: 16px; */
  width: calc((var(--vw-browser) / 100) * 1);
  /* height: 15px; */
  height: calc((var(--vw-browser) / 100) * 0.93);
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
}
.modal-checkbox {
  visibility: hidden;
}
.checkbox-icon {
  position: absolute;
  /* top: 4px; */
  top: calc((var(--vw-browser) / 100) * 0.25);
  /* left: 4px; */
  left: calc((var(--vw-browser) / 100) * 0.25);
}
.modal-checkbox:checked + span svg {
  z-index: 5;
  fill: var(--color-blue);
  stroke: var(--color-blue);
  stroke-width: 2px;
}
.modal-button-send {
  margin: 0 auto;
  padding: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 200px; */
  width: calc((var(--vw-browser) / 100) * 12.5);
  /* height: 50px; */
  height: calc((var(--vw-browser) / 100) * 3.12);
  font-weight: 700;
  /* font-size: 16px; */
  font-size: calc((var(--vw-browser) / 100) * 1);
  /* line-height: 30px; */
  line-height: calc((var(--vw-browser) / 100) * 1.87);
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-white);
  text-align: center;
  background: var(--background-color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}
.cross-plus-circle {
  margin: 0;
  padding: 0;
  position: absolute;
  /* top: 8px; */
  top: calc((var(--vw-browser) / 100) * 0.5);
  /* right: 8px; */
  right: calc((var(--vw-browser) / 100) * 0.5);
  z-index: 3;
  display: flex;
  /* width: 30px; */
  width: calc((var(--vw-browser) / 100) * 1.87);
  /* height: 30px; */
  height: calc((var(--vw-browser) / 100) * 1.87);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--background-color-white);
}
.button-cross {
  position: absolute;
  top: 20%;
  left: 18%;
  display: flex;
  /* width: 18px; */
  width: calc((var(--vw-browser) / 100) * 1.12);
  /* height: 18px; */
  height: calc((var(--vw-browser) / 100) * 1.12);
}

/* PORTFOLIO */
/* PORTFOLIO BUTTONS */

.main-portfolio {
  /* margin-top: 94px; */
  margin-top: calc((var(--vw-browser) / 100) * 5.87);
  /* margin-bottom: 94px; */
  margin-bottom: calc((var(--vw-browser) / 100) * 5.87);
}
.buttons-margin {
  /* margin-bottom: 50px; */
  margin-bottom: calc((var(--vw-browser) / 100) * 3.12);
}
.list-button-portfolio {
  display: flex;
  justify-content: center;
}
.button-portfolio {
  /* margin-inline: 4px; */
  margin-inline: calc((var(--vw-browser) / 100) * 0.25);
  font-family: inherit;
  font-weight: 500;
  /* font-size: 16px; */
  font-size: calc((var(--vw-browser) / 100) * 1);
  /* line-height: 26px; */
  line-height: calc((var(--vw-browser) / 100) * 1.62);
  background: var(--background-color-light-grey);
  border-radius: 4px;
  border: var(--background-color-light-grey);
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
  transition-property: color, background-color, box-shadow;
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--color-white);
  background: var(--color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* PORTFOLIO PICTURES */

.picture-box-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 30px; */
  gap: calc((var(--vw-browser) / 100) * 1.87);
}
.picture-portfolio {
  margin: 0 0 0 0;
  border-bottom: 1px solid #eeeeee;
  width: 370px;
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
  transition-property: box-shadow;
}
.picture-portfolio:hover,
.picture-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.picture-margin {
  padding: 20px 24px;
}
.picture-header-portfolio {
  z-index: 3;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.picture-description-portfolio {
  margin-top: 4px;
  z-index: 3;
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-dark-grey);
}
.pointer {
  cursor: pointer;
}

/* PORTFOLIO OVERLAY */

.blue-box {
  margin-inline: auto;
  position: relative;
  width: 370px;
  height: 294px;
  background-color: var(--background-color-blue);
  overflow: hidden;
}
.picture-portfolio .overlay {
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
  transition-property: transform;
}
.picture-portfolio:hover .overlay {
  transform: translateX(0);
}
.overlay {
  position: absolute;
  top: 0px;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translate(0, 300px);
}
.overlay-text {
  margin: 0;
  padding-top: 49px;
  padding-left: 24px;
  width: 301px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--color-white);
}
